@model WebAutomation.Models.AppUser

<h2>@Model.UserName Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">UserName</dt>
        <dd class="col-sm-10">@Model.UserName</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">FullName</dt>
        <dd class="col-sm-10">@Model.FullName</dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>